html {
  font-family: 'Fira Sans', sans-serif;
  background-color: #F0ECEE;
}



.container{
  height: auto;
}

nav ul{
 list-style: none;
 margin: 0; 
 padding: 0;
}

nav ul li{
  margin-top: 10px;
}

a{
  text-decoration: none;
  color: #88898B;
}

a:hover{
  color: white;
  background-color: #FF4850;
  padding: 10px;
  border-radius: 15px;
  font-weight: 400;
  transition: .2s;
}

p{
  color: #88898B;
  font-weight: 300;
  text-align: left;
}

strong{
 color: #FF4850; 
}


.button {
  display: block;
  text-align: center;
  Color: white;
  background-color: #FF4850;
  padding: 10px;
  border-radius: 15px;
  font-weight: 600;
  width: 100%;
}

.button:hover{
  background-color: #CCC;
  padding: 10px;
  border-radius: 15px;
  font-weight: 400;
  transition: .2s;
}

@media screen and (min-width: 769px) {
      
   html{
    width: 100%;
    height: auto;
  }     


.container{
  height: auto;
  background-image: ("bulldog.jpg");
  background-size: cover;
   min-height: 100vh;
  
}

.header{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.navbar {
 display: flex;
 flex: 1;
 justify-content: flex-end;
 flex-wrap: wrap;
 width: 28%;
}

nav ul{
  display: flex;
  flex: 1;
  flex-basis: 30%;
  flex-wrap: wrap; 
}

nav ul li{
 list-style: none;
 padding: 20px;
}
  
.button {
  display: flex;
  text-align: center;
  Color: white;
  background-color: #FF4850;
  padding: 10px;
  border-radius: 15px;
  font-weight: 600;

}
  
  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  p{
    width: 50%;
  }
  
  .inquiry{
    width: 12%;
  }
  
}





